*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html, body{

    overflow-x: hidden;

    width: 100%;
    padding-top: 100px;
}


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, sans-serif;

    background-color: #f4f7fb;

    color: #222;

}

nav{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

    background-color: #1565c0;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 1000;

}

nav h2{

    color: white;

    font-size: 32px;

}

nav ul{

    display: flex;

    list-style: none;

    gap: 25px;

}

nav a{

    text-decoration: none;

    color: white;

    font-weight: bold;

    transition: 0.3s;

}

nav a:hover{

    opacity: 0.7;

}

.hero{

    height: 90vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    background: white;

}

.hero h1{

    font-size: 70px;

    margin-bottom: 15px;

    color: #1565c0;

}
.hero p{

    font-size: 24px;

    color: #666;

}

button{

    transition: 0.3s;

    padding: 12px 18px;

    border: none;

    background-color: #1565c0;

    color: white;

    cursor: pointer;

    border-radius: 8px;

    font-weight: bold;

}

button:hover{

    transform: scale(1.05);

    opacity: 0.9;

}

.dark-mode{

    background-color: #0f172a;

    color: white;

}

.dark-mode{

    background-color: #1565c0;

}

.dark-mode nav a{

    color: white;

}
body{

    background-color: #0f172a;

    color: white;

}

nav{

    background-color: #1e3a8a;

}

.hero{

    height: 90vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    background: white;

}



.about{

     background-color: #eef3f9;


}

.projects{

    background-color: #f4f7fb;

}

.skills{

    background-color: #eef3f9;

}

.contact{

    background-color: #f4f7fb;

}

.dark-mode .project-card{

    background-color: #1e293b;

    color: white;

}

.dark-mode .skill-box{

    background-color: #1e3a8a;

    color: white;

}

.dark-mode .project-card p,
.dark-mode .about p,
.dark-mode .hero p{

    color: #cbd5e1;

}
.dark-mode{

    background-color: #f4f7fb;

    color: #222;

}

.dark-mode nav{

    background-color: #1565c0;

}

.dark-mode nav a{

    color: white;

}

.dark-mode .hero p{

    color: #666;

}

.about{

    padding: 100px 50px;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #eef3f9;

}

.about-text{

    max-width: 700px;

    text-align: center;

}

.about h2{

    font-size: 45px !important;
    color: #1565c0
}

.about p{

    font-size: 20px;

    line-height: 1.8;

    color: #555;

}

.about-text{

    max-width: 700px;

    text-align: center;

}

.about h2{

    font-size: 45px;

    margin-bottom: 25px;

    color: #1565c0;

}

.about p{

    font-size: 20px;

    line-height: 1.8;

    color: #555;

}

.projects{

    padding: 100px 50px;

    text-align: center;

    background-color: #f4f7fb;

}

.projects h2{

    font-size: 45px !important;
    color: #1565c0;

}


.project-container{

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}

.project-card{

    background-color: white;

    padding: 30px;

    width: 320px;

    border-radius: 15px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    transition: 0.3s;

}
.project-card:hover{

    transform: translateY(-10px);

}

.project-card h3{

    margin-bottom: 15px;

    color: #1565c0;

}

.project-card p{

    color: #555;

    line-height: 1.6;

}

@media(max-width: 768px){

    nav{

        flex-direction: column;

        gap: 20px;

        padding: 20px;
        

    }

    nav ul{

        flex-direction: column;

        align-items: center;

    }

    .hero h1{

        font-size: 45px;

    }

    .hero p{

        font-size: 20px;

    }

    .project-card{

        width: 100%;

    }

}

    .hero h1{

    font-size: 40px;

}

.hero p{

    font-size: 18px;

}

.about h2,
.projects h2,
.contact h2{

    font-size: 32px;

}



.contact{

    padding: 100px 50px;

    text-align: center;

    background-color: #eef3f9;

}

.contact h2{

    font-size: 45px;

    margin-bottom: 40px;

    color: #1565c0;

}

#contactForm{

    max-width: 600px;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 20px;

}

#contactForm input,
#contactForm textarea{

    padding: 15px;

    border: 1px solid #ccc;

    border-radius: 10px;

    font-size: 20px;

    background-color: white;

}

#contactForm textarea{

    height: 150px;

    resize: none;

}

#contactForm button{

    background-color: #1565c0;

    color: white;

    font-size: 16px;

}

#loadProjects{

    margin-bottom: 40px;

}

.skills{

    padding: 100px 50px;

    text-align: center;

    background-color: #f4f7fb;

}

.skills h2{

    font-size: 45px;

    margin-bottom: 50px;

    color: #1565c0;

}


.skills-container{

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

    max-width: 1200px;

    margin: 50px auto;

}
.skill-box{

    background-color: white;

    border-radius: 15px;

    padding: 25px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 15px;

}

.skill-box:hover{

    transform: translateY(-5px);

}

footer{

    background-color: #1565c0;

    padding: 40px;

    text-align: center;

    margin-top: 100px;

    color: white;

}
footer p{

    color: rgba(255,255,255,0.8);

}

nav ul li a:hover{

    color: #dbe9ff;

    transition: 0.3s;

    text-decoration: none;

    font-weight: bold;

}

.social-links{

    margin-top: 20px;

    display: flex;

    justify-content: center;

    gap: 20px;

}

.social-links a{

    color: white;

    text-decoration: none;

    transition: 0.3s;

    font-weight: bold;

}

.social-links a:hover{

    opacity: 0.7;

}

.project-card img{

    width: 100%;

    border-radius: 12px;

    margin-bottom: 15px;

}

h3{

    color: #1565c0;

    margin-bottom: 20px;

}
.dark-mode{

    background-color: #0f172a;

    color: white;

}

.dark-mode nav{

    background-color: #1e3a8a;

}

.dark-mode .hero{

    background-color: #0f172a;

}

.dark-mode .about{

    background-color: #111c44;

}

.dark-mode .projects{

    background-color: #0f172a;

}

.dark-mode .skills{

    background-color: #111c44;

}

.dark-mode .contact{

    background-color: #0f172a;

}

.dark-mode .project-card{

    background-color: #1e293b;

    color: white;

}

.dark-mode .skill-box{

    background-color: #1e3a8a;

    color: white;

}

.dark-mode p{

    color: #cbd5e1;

}
section{

    background-color: #f4f7fb;

}
footer{

    margin-top: 0;

}
.dark-mode section{

    background-color: #0f172a;

}
.dark-mode{

    background-color: #0f172a;

    color: white;

}

.dark-mode nav{

    background-color: #1e3a8a;

}

.dark-mode .hero{

    background-color: #0f172a;

}

.dark-mode .about{

    background-color: #111c44;

}

.dark-mode .projects{

    background-color: #0f172a;

}

.dark-mode .skills{

    background-color: #111c44;

}

.dark-mode .contact{

    background-color: #0f172a;

}

.dark-mode .project-card{

    background-color: #1e293b;

    color: white;

}

.dark-mode .skill-box{

    background-color: #1e3a8a;

    color: white;

}

.dark-mode .hero h1,
.dark-mode .hero p,
.dark-mode .about p,
.dark-mode .project-card p,
.dark-mode .project-card h3{

    



    color: white;

}
.profile-image{

    width: 160px;

    height: 160px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 25px;

    border: 5px solid #1565c0;

}
.education,
.experience{

    padding: 100px 50px;

    text-align: center;

    background-color: #eef3f9;

}

.education h2,
.experience h2{

    font-size: 45px;

    color: #1565c0;

    margin-bottom: 40px;

}

.edu-card,
.exp-card{
    margin-bottom: 40px;
    max-width: 800px;

    margin: auto;

    background: white;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}

.edu-card p,
.exp-card p{

    color: #444;

    line-height: 1.8;

    font-size: 18px;

}
.cv-button{

    display: inline-block;

    margin-top: 20px;

    padding: 14px 30px;

    background-color: #1565c0;

    color: white;

    text-decoration: none;

    border-radius: 10px;

    transition: 0.3s;

    font-weight: bold;

}

.cv-button:hover{

    background-color: #0d47a1;

    transform: scale(1.05);

}
#typing-text{

    border-right: 4px solid #1565c0;

    display: inline-block;

    padding-right: 5px;

}
.hidden{

    opacity: 0;

    transform: translateY(50px);

    transition: all 1s ease;

}

.show{

    opacity: 1;

    transform: translateY(0);

}
table{

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

    background: white;

}

table th,
table td{

    border: 1px solid #ddd;

    padding: 12px;

    text-align: left;

}

table th{

    background: #2563eb;

    color: white;

}
table{

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

    background-color: white;

    color: black;

}

table th,
table td{

    border: 1px solid #ddd;

    padding: 12px;

    text-align: left;

    color: black;

}

table th{

    background-color: #2563eb;

    color: white;

}
@media (max-width: 768px){

    nav{

    padding: 10px 15px;

}

nav h2{

    font-size: 22px;

    margin-bottom: 10px;

}

nav ul{

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 8px;

}

nav ul li a{

    font-size: 20px;


    }
    nav h2{

    font-size: 28px;

    text-align: center;

    }

    .hero{

        padding: 100px 20px;

        text-align: center;

    }

    .hero h1{

        font-size: 36px;

    }

    .about{

        padding: 60px 20px;

    }

    .project-container{

        flex-direction: column;

        align-items: center;

    }

    .project-card{

        width: 90%;

    }

    .skills-container{

        flex-direction: column;

        align-items: center;

    }

    .skill-box{

        width: 90%;

    }

    form{

        width: 90%;

    }

    table{

        font-size: 14px;

        overflow-x: auto;

        display: block;

    }

}
.success-message{

    text-align: center;

    background-color: #4caf50;

    color: white;

    padding: 15px;

    border-radius: 10px;

    width: 300px;

    margin: 20px auto;

    font-weight: bold;

}



.progress-bar{

    width: 100%;

    height: 10px;

    background-color: #dcdcdc;

    border-radius: 10px;

    overflow: hidden;

}

.progress{

    height: 100%;

    background-color: #1565c0;

}
.html{
    width: 90%;
}

.css{
    width: 85%;
}

.js{
    width: 75%;
}

.php{
    width: 80%;
}

.mysql{
    width: 75%;
}

.java{
    width: 70%;
}

.cpp{
    width: 65%;
}

.github{
    width: 80%;
}
.skill-box span{

    font-size: 28px;

    font-weight: bold;

    color: #1565c0;

}


.skill-box i{

    font-size: 40px;

    color: #1565c0;

}
.skill-box{

    width: 240px;

    min-height: 180px;

}
h2{

    font-size: 65px;

    margin-bottom: 50px;

}
p{

    font-size: 24px;

    line-height: 1.8;

}
.html{
    width: 90%;
}

.css{
    width: 85%;
}

.js{
    width: 75%;
}

.php{
    width: 80%;
}

.mysql{
    width: 75%;
}

.java{
    width: 70%;
}

.cpp{
    width: 65%;
}

.github{
    width: 85%;
}
@media(max-width: 900px){

    .skills-container{

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(max-width: 600px){

    .skills-container{

        grid-template-columns: 1fr;

    }

}
nav ul li a{

    transition: 0.3s;

}

nav ul li a.active{

    color: #00bfff;

}
nav ul li a.active{

    color: #00bfff;

    font-weight: bold;

}
html, body{

    margin: 0;

    padding: 0;

    overflow-x: hidden;

}

nav{

    margin-bottom: 0;

}

.hero{

    margin-top: 0;

    padding-top: 120px;

}